.stApp {
    background: #0e1117;
}

div.stTabs button {
    background: #0e1117;
}

.stApp header {
    background: #0e1117;
}


h3 {
    color: #756760;
    margin-bottom: 1rem;
}


.appview-container .main .block-container {
    padding-top: 2.875rem;
    padding-bottom: 0px
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bpad {

    background-color: #0e1117;

    border-top: 2px solid;
    border-image: linear-gradient(to right, #26282e 5%, #26282e 5%, #ff4b4b 5%, #ff4b4b 95%, #ff4b4b 95%, #26282e 95%, #26282e 100%) 4;

    color: #ccc;
    font-family: monospace;

    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 1%;
    margin-right: 1%;
    max-height: 200px;

    /* width: 100%; */
    overflow: auto;
    padding-left: 10px;
    position: fixed;

    text-align: center;
}


.coffee {
    padding-left: 10px;
    position: fixed;

    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 1%;
    margin-right: 1%;

    /* max-height: 46px; */
    /* background-color: #0e1117; */
    color: #ccc;
    /* width: 100%; */
    overflow: auto;
    font-family: monospace;
    text-align: center;
    justify-content: center;
    display: flex;
}

div.stTabs>div>div:nth-of-type(3) {
    overflow-x: hidden;
    height: 80vh;
}

div.stTabs>div>div:nth-of-type(3) p {
    padding-right: 10px;
}
